install/assets/js/jquery.min.js
install/assets/js/jquery.validate.min.js
assets/js/bootstrap.min.js
assets/js/dayjs.min.js
assets/js/excanvas.min.js
assets/js/fullcalendar.min.js
assets/js/jquery-1.12.4.min.js
assets/js/jquery.flot.min.js
assets/js/jquery.flot.pie.min.js
assets/js/jquery.flot.resize.min.js
assets/js/jquery.gritter.min.js
assets/js/jquery.mask.min.js
assets/js/jquery.peity.min.js
assets/js/masked.js
assets/js/select2.min.js
assets/js/shortcut.js
assets/js/sweetalert2.all.min.js
assets/js/highchart/highcharts-modules-exporting.js
assets/js/highchart/highcharts-more.js
assets/js/highchart/highcharts.js
assets/js/dist/*
assets/js/fullcalendar/locales-all.min.js
assets/js/jquery-ui/js/jquery-ui-1.9.2.custom.min.js
assets/trumbowyg/*
